{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %} ">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

    <title>Econnect</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        
      <div style="margin: 0 10%;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav" style="clear:none">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li> -->

            {% if user.is_authenticated%}

                <li class="nav-item" style="position:relative; float:left;">
                  <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item" style="position:relative; float:left;" >
                  <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                
                <li class="nav-item" style="position:relative; float:right;">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {%endif%}

          </ul>
        </div>

        
    </div>
      </nav>


  <img src="{% static 'imagine.png' %}" alt="background" class="top-img">

  <div class="me">
    {% block profilePic %}

    {% endblock %}

    {% block dashboardFilters%}

    {% endblock %}

    {%block lform%}

    {%endblock%}

    {% block detailsPic %}

    {%endblock%}
  </div>

  <div class="content">
  {% block rform%} {%endblock%}


    {% block ownedTrainings %}

    {% endblock %}

    {%block dashboardTrainings %}


    {% endblock %}

    {%block trainingDetails %}


    {% endblock %}

  </div>









</body>
</html>
