{% extends 'base.html' %}


{% block dashboardFilters%}

<h1>Filters - TO BE ADDED</h1>

{% endblock %}

{%block dashboardTrainings %}


<div class="lista">

    <h1>Dashboard</h1>

{% for t in trainings%}


<div class="my_card">
        <div class="card-image">
       <!-- <img src={{t.img}} alt="training-img" class="img"> -->
        </div>
        <div class="card-text">
            <h3 class="titlu-training"> <a href="{{t.get_absolute_url}}">{{ t.training_name}}</a>  </h3> <!-- Adaugă când dai click pe text să iti deschida o noua pagina -->
            <p class="trainer">Trainer : {{t.trainer.profile.name}}</p>

        </div>
        
            <div class="card-info">

                <p class="data">{{t.next_session|date:'d.m.Y'}}</p>
                <p class="data">{{t.next_session|time:'H:i'}}</p>
                {% if t not in user.profile.trainings %}
                    <a class="btn btn-dark" href="{%url 'enroll' t.id%}">Enroll</a>
                {% else %}
                    <a class="btn btn-secondary">Enrolled</a>
                {%endif%}
           </div>

        </div>
        <hr/>
  {% endfor%}
</div>


{% endblock %}
