{% extends 'base.html' %}


{% block dashboardFilters%}

<div class="filtre">
<h2>Filters</h2>
<hr />
<h3>Department</h3>
<input type="checkbox" id="web" name="web" value="Web">
<label for="web">Web Development</label><br>
<input type="checkbox" id="hr" name="hr" value="Hr">
<label for="hr">Human Resources</label><br>
<input type="checkbox" id="marketing" name="marketing" value="Marketing">
<label for="marketing">Marketing</label><br>
<input type="checkbox" id="sales" name="sales" value="Sales">
<label for="sales">Sales</label><br>
<input type="checkbox" id="finances" name="finances" value="Finances">
<label for="finances">Finances</label><br>

<button type="button" class="btn btn-outline-secondary">Submit</button>
</div>


{% endblock %}

{%block dashboardTrainings %}


<div class="lista">

    <h1 style="text-align: center;">Dashboard</h1>
    <hr/>

{% for t in trainings.all%}


<div class="my_card">
        <div class="card-image">
        <img src={{t.img.url}} alt="training-img" class="training_img">
        </div>
        <div class="card-text">
            <h3 class="titlu-training"> <a href="{%url 'training_detail' t.id%}">{{ t.training_name}}</a></h3>
            <p class="trainer">Trainer : {{t.trainer.profile.name}}</p>

        </div>

            <div class="card-info">

                <p class="data">{{t.next_session|date:'d.m.Y'}}</p>
                <p class="data">{{t.next_session|time:'H:i'}}</p>
                {% if t in user.profile.completedtrainings %}
                    <a class="btn btn-outline-light">Completed</a>
                {% elif t not in user.profile.trainings.all %}
                    <a class="btn btn-outline-dark" href="{%url 'enroll' t.id%}">Enroll</a>
                {% else %}
                    <a class="btn btn-outline-secondary">Enrolled</a>
                {%endif%}
           </div>

        </div>
        <hr/>
  {% endfor%}
</div>


{% endblock %}
