

{% extends "base.html"%}
<!-- {% load static %} -->

<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">


{% block profilePic %}


    <img src="{{user.profile.profile_pic.url}}" alt="Avatar" style="width:100%; height:50%">
    <!-- DE MOFICAT POZA SA FIE DINAMICA ȘI SA PUI RESTUL FIELDURILOR -->
    <div class="container">
        <h6>Nume</h6>
        <h2>{{user.profile.name}}</h2>
        <h6>Email </h6>
        <h2>{{user.email}}</h2>
        <h6>Department </h6>
        <h2>{{user.profile.department}}</h2>
    </div>

{% endblock %}

{% block ownedTrainings %}

<div class="lista">
  <h2>Enrolled trainings</h2>

  
{% for t in user.profile.trainings%}


<div class="card">
        <div class="card-image">
       <!-- <img src={{t.img}} alt="training-img" class="img"> -->
        </div>
        <div class="card-text">
            <h3 class="titlu-training"> {{ t.training_name}} </h3> <!-- Adaugă când dai click pe text să iti deschida o noua pagina -->
            <p class="trainer">Trainer : {{t.trainer.name}}</p>
            </div>
                <div class="card-info">
                    <!-- ADAUGA BUTOANE PENTRU JOIN SI LEAVE -->
                <p class="data">{{t.next_session|date:'d.m.Y'}}</p>
                <p class="data">{{t.next_session|time:'H:i'}}</p>
           </div>
        </div>

  {% endfor%}
</div>


</div>
{% endblock %}
