

{% extends "base.html"%}
<!-- {% load static %} -->

<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">


{% block profilePic %}


    <img src="{{user.profile.profile_pic.url}}" alt="Avatar" class="img">
    <!-- DE MOFICAT POZA SA FIE DINAMICA ȘI SA PUI RESTUL FIELDURILOR -->
    <div class="detalii_angajat1">
        <p class="detalii_angajat1">Nume</p>
        <p class="detalii_angajat2">{{user.profile.name}}</p>
        <hr/>
        <p class="detalii_angajat1">Email </p>
        <p class="detalii_angajat2">{{user.email}}</p>
        <hr/>
        <p class="detalii_angajat1">Department </p>
        <p class="detalii_angajat2">{{user.profile.department}}</p>
    </div>

{% endblock %}

{% block ownedTrainings %}

<div class="lista">
  <h2>Enrolled trainings</h2>

  <div class="my_card">
          <div class="card-image">
         <img src="https://www.w3schools.com/w3css/img_lights.jpg" alt="training-img" class="training_img">
          </div>
          <div class="card-text">
              <h3 class="titlu-training">Oare ar trebui să pune un număr maxim de cractere aici?</h3> <!-- Adaugă când dai click pe text să iti deschida o noua pagina -->
              <p class="trainer">Trainer :sadasd</p>
              </div>
                  <div class="card-info">
                      <!-- ADAUGA BUTOANE PENTRU JOIN SI LEAVE -->
                  <p class="data">dqwdqw</p>
                  <p class="data">asdqw</p>
             </div>
          </div>
  <div class="buttons">
    <button type="button" class="btn btn-primary">Mark as complete</button>
      <button type="button" class="btn btn-danger">Leave training</button>
  </div>

<hr/>

<div class="my_card">
        <div class="card-image">
       <img src="https://www.w3schools.com/w3css/img_lights.jpg" alt="training-img" class="training_img">
        </div>
        <div class="card-text">
            <h3 class="titlu-training">Oare ar trebui să pune un număr maxim de cractere aici?</h3> <!-- Adaugă când dai click pe text să iti deschida o noua pagina -->
            <p class="trainer">Trainer :sadasd</p>
            </div>
                <div class="card-info">
                    <!-- ADAUGA BUTOANE PENTRU JOIN SI LEAVE -->
                <p class="data">dqwdqw</p>
                <p class="data">asdqw</p>
           </div>
        </div>
<div class="buttons">
  <button type="button" class="btn btn-primary">Mark as complete</button>
    <button type="button" class="btn btn-danger">Leave training</button>
</div>

<hr/>




{% for t in user.profile.trainings%}


<div class="card">
        <div class="card-image">
       <!-- <img src={{t.img}} alt="training-img" class="img"> -->
        </div>
        <div class="card-text">
            <h3 class="titlu-training"> {{ t.training_name}} </h3> <!-- Adaugă când dai click pe text să iti deschida o noua pagina -->
            <p class="trainer">Trainer : {{t.trainer.name}}</p>
            </div>
                <div class="card-info">
                    <!-- ADAUGA BUTOANE PENTRU JOIN SI LEAVE -->
                <p class="data">{{t.next_session|date:'d.m.Y'}}</p>
                <p class="data">{{t.next_session|time:'H:i'}}</p>
           </div>
        </div>

  {% endfor%}
</div>


</div>
{% endblock %}
