{% extends 'base.html' %}


{% block detailsPic %}

<img src="{{training.img.url}}" alt="training-img" class="training_detail_img">

{% if training.trainer == request.user%}
<a href="{%url 'edit_training' training.id %}" type="button" class="btn btn-primary">Edit Training</a>
{% endif %}

{%endblock%}

{%block trainingDetails %}

<div class="lista">
  <div class="details_buttons">
    
    
    {%if training in user.profile.completed%}
    <a class="btn btn-light">Completed</a>
    {% elif training in user.profile.trainings.all %}
    <a href="{% url 'leave' training.id%}" class="btn btn-outline-danger">Leave training</a>
    <a href="{% url 'complete' training.id%}" class="btn btn-outline-primary">Mark as complete</a>
    {%else%}
    <a href="{% url 'enroll' training.id%}" type="button" class="btn btn-outline-dark">Enroll</a>
    {%endif%}
    
  </div>
  <div class="training_details">


  <p>Training name: <span> {{training.training_name}} </span></p>
  <hr />
  <p>Next seesion : <span>{{training.next_session|date:'d.m.Y'}}</span>; {{training.next_session|time:'H:i'}}  </p>
  <hr />
  <p>Trainer: <span>{{training.trainer}}</span></p>
  <hr />
  <p>Details: <span>{{training.description}}</span></p>
  <hr />

    {%if training in user.profile.trainings.all and training.materials%}
        <p>Materials: <span><a href={{training.materials.url}}>{{training.filename}}</span></p>
    {%endif%}
</div>
{% endblock %}
